.task-list-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    
}
.tasklistdiv{
    // flex : 1;
    height: 100%;
    // overflow-y: scroll; ANISHA TODO
}
.addtaskdiv{
    // flex:0;
    padding: 5px;
}