<!-- <p>calender-view works!</p> -->
<!-- <div #calendarviewdiv id="id2" class="calendarviewdiv" cdkDropList [cdkDropListConnectedTo]="'id1'" [cdkDropListData]="taskArray" (cdkDropListDropped)="drop($event)" >
    <app-task-card cdkDrag [taskDetailObj]="defaultT"></app-task-card>
    <app-task-card cdkDrag *ngFor="let t of taskArray" [taskDetailObj]="t"></app-task-card>
</div> -->
<app-calendar-view-header [(view)]="view" [(viewDate)]="viewDate"></app-calendar-view-header>
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>