@use 'globals' as *;

.task-container{
    // border: 2px solid #aad4f3;
    // margin : 3px;
    // padding: 0px 5px;
    // background-color: #fff;
    // border-radius: 5px;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    // transition: 0.3s;
    // height : max-content;
    background-color: $background-primary;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom : 6px;
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.task-container:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  