<!-- <div class="task-container">  cdkDrag  -->
    <!-- <mat-card class="task-container">
        <mat-card-content>{{ taskDetailObj.tname }}</mat-card-content>
    </mat-card> -->
<!-- </div> -->

<div class="card task-container">
    <div class="card-body task-details">
        <h6 class="card-title">{{ taskDetailObj.tname }}</h6>
        <p class="card-text" *ngIf="taskDetailObj.desc && taskDetailObj.desc.length > 0" >{{ taskDetailObj.desc }}</p>
    </div>
    <div class="card-actions">
        <mwl-calendar-event-actions [event] = "taskDetailObj"></mwl-calendar-event-actions>
    </div>
</div>