
// .home-container{
//     width: 100%;
//     height: 100%;
   
//     // height: 100vh;
    
// }
.task-list-view{
    float : left;
    width : 30%;
    height: 100%;
    border-radius: 12px;
    background-color: #bfbfbf5f;
    padding: 10px;
    // border: 2px solid black;
}
.calender-view{
    float: right;
    width:69%;
    height: 100%;
    border-radius: 12px;
    background-color: #bfbfbf5f;
    padding: 10px;
    // border: 2px solid black;
}