<!-- <p>calendar-view-header works!</p> -->
<div class="row text-center cal-head-containter">
    <div #prev_next_btn class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >
          Next
        </div>
      </div>
    </div>
    <div #currentMonth class="col-md-4">
      <h3 class="m-0">{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
    </div>
    <div #m_w_d_btn class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="viewChange.emit(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </div>
        <div
          class="btn btn-primary"
          (click)="viewChange.emit(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </div>
        <div
          class="btn btn-primary"
          (click)="viewChange.emit(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />