
// All colour variables


// $Abstract-color-pastel-background: #F2D5DD;
// $Abstract-color-pastel-background: #F2ACC6;
// $Abstract-color-pastel-background: #E8C4F2;
// $Abstract-color-pastel-background: #E8D0F2;
// $Abstract-color-pastel-background: #C2F2F2;

// $color-neutral :#F3F2F1;
// $c2 :#9C8EC1;
// $primary-100 :#CD3E8F;
// $c4 :#7243A1;
// $c5 :#223882;

// $c6 :#F6F3F4;
// $c7 :#8891D4;

// $primary-120 : #a31a6c;

//Theme 2
// $theme-colors: (
//     "primary":red,
// );
$primary: #15392f;
$secondary: #527c70;

$primary-100: #15392f;
$primary-100-s15: rgb(21, 57, 47,0.15); //0.15 opacity for shadow
$secondary-100: #527c70;
$background-primary : #c2e1d7;
$background-pastal: #f2ede0;
$background-white: #e1e1e1; 
// $background-white-03: #bfbfbf5f; //0.3 opacity 
$link-color : white;
@import 'bootstrap';