@use 'globals' as *;

.task-form-container{
    display: flex;
    height: max-content;
    width :100%;
    margin-bottom: 10px;
}
.tname-container{
    flex-grow: 1;
    padding: 0 5% 0 0;

    
}
.add-btn-container{
    padding: 0;
}
.tasktext{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: $background-white;
    box-shadow:0 0.5rem 1rem $primary-100;
}
.add-btn{
    box-sizing: border-box;
    height: 100%;
    padding: 10px ;
    //background-color: $primary-100;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    box-shadow:0 0.5rem 1rem $primary-100;
}
.add-btn:hover{
    box-shadow: none;
}
*{
    box-sizing: border-box;
}

